application:
  oidc.client-id: ${OIDC_CLIENT_ID}

springdoc:
  packages-to-scan: br.gov.pb.codata

spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  flyway:
    enabled: false
  security:
    oauth2.resourceserver.jwt.issuer-uri: ${OIDC_SERVER_URL:https://sso.codata.pb.gov.br/auth/realms/paraiba}

logging:
  level:
    br.gov.pb.codata: warn
    root: warn
    web: warn
    sql: warn



management:
  endpoint.health.show-details: always